@font-face {
  font-family: 'EncodeSans';
  src: url('fonts/EncodeSansSemiExpanded.ttf')
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-color: #581845;
  font-family: 'EncodeSans', monospace;
  height: 100vh;
  padding-top: 5vh;
  outline: none;
  text-align: center;
}

.Main {
  background-color: #900C3F;
  border-radius: 25px;
  color: #ff5733;
  height: 500px;
  margin: 50px auto 0;
  width: 980px;

  &__title {
    display: block;
    font-size: 50px;
    margin: 0 10px 20px 0;
    text-align: right;
  }

  &__text {
    display: block;
    font-size: 40px;
    margin-top: 30px;
  }

  &__input {
    border: 0;
    border-radius: 5px;
    display: block;
    height: 40px;
    margin: 20px auto;
    width: 70%;
  }

  &__button {
    background-color: #FFC300;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    margin-top: 20px;
    width: 200px;
  }

  &__error {
    color: red;
    display: block;
  }

  &__lives, &__time {
    display: block;
    font-size: 30px;
    margin: 10px 0 30px 20px;
    text-align: left;
  }

  &__letters {
    font-size: 70px;
  }
}
